{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Sauvons les rôlistes ! {% endblock %}</h1>
    
    <div class="menu">

        <h2>Pour tous ceux qui ont en mémoire leurs longues soirées ou après-midi de jeu, et les mille et unes anecdotes qui resteront à jamais gravées sur leur fiche de perso... Le jeu de rôle vaincra !</h2>
        <br><br>
        <p class="paroles">
            REFRAIN<br>
            <br>
            Tu peux sauver les rôlistes avant qu’ils ne disparaissent<br>
            Tu dois lancer un D10 et tu multiplies par 13<br>
            Dans la table des bonus, tu viens faire ta sélection<br>
            Et tu sauras combien tu donnes à notre association<br>
            Et tu sauveras les rôlistes !<br>
            <br>
            
            
            On les trouve en groupe de cinq<br>
            Dans les caves des facultés<br>
            Ils adorent faire les malins avec leurs dés<br>
            <br>
            Ils dessinent dans leurs cahiers<br>
            Des épées des loups-garous<br>
            Ils n’écoutent pas en cours d’anglais<br>
            Car ils connaissent déjà tout<br>
            <br>
            Ils achètent des boîtes de jeux<br>
            Dont on comprend pas le titre<br>
            Ils collectionnent des bonshommes en plastique<br>
            <br>
            On les voit sur Internet<br>
            Dans les GN en caleçon<br>
            Ils parlent les langues des elfes<br>
            Et lisent des dictionnaires klingons<br>
            <br>
            REFRAIN<br>
            <br>
            Tu peux sauver les rôlistes avant qu’ils ne disparaissent<br>
            Tu dois lancer un D10 et tu multiplies par 13<br>
            Dans la table des bonus, tu viens faire ta sélection<br>
            Et tu sauras combien tu donnes à notre association<br>
            Et tu sauveras les rôlistes !<br>
            <br>
            C’est galère en entreprise<br>
            Quand il faut communiquer<br>
            D’ailleurs c’est pas un droïde<br>
            C’est la machine à café<br>
            <br>
            Ils s’endorment aux réunions<br>
            Cachés derrière un carnet<br>
            Ils sont jamais au courant<br>
            Quand y’a un match à la télé<br>
            <br>
            Pendant la pause déjeuner<br>
            Il refont l’éducation<br>
            Des collègues indisposés<br>
            Par leur incompréhension<br>
            <br>
            Ils énoncent les suppléments<br>
            De la troisième édition<br>
            Et les malus à la classe d’armure<br>
            D’un perso loyal-bon !<br>
        </p>
        <hr>
    </div>    
    <div><a href="http://encyclopedie.naheulbeuk.com/spip.php?article368">Source</a></div>
  <br>

{% endblock %}